apiVersion: v1
kind: Service
metadata:
  name: appointment-service
  namespace: hospital
spec:
  selector:
    app: appointment-service
  ports:
    - name: http
      port: 5003
      targetPort: 5003

